{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <h1>Page service</h1>
    <p>Nom : {{ service.nom }}</p>
    <p>Price : {{ service.libelle }}</p>
{% endblock %}