{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <h1>Page direction</h1>
    <p>Nom : {{ direction.Nom }}</p>
    <p>Libelle : {{ direction.Libelle }}</p>
{% endblock %}