{% extends 'base.html.twig' %}

{% block title %}
    <h1>Hello MaterielController!</h1>
    <p>Nom : {{ materiel.nomMateriel }}</p>
    <p>Marque : {{ materiel.marqueMateriel }}</p>
    <p>Caracteristiques : {{ materiel.caracteristique }}</p>
{% endblock %}