{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <h1>Page PersonneType</h1>
    <p>nomType : {{ personneType.nomType }}</p>
    <p>Specialité : {{ personneType.specialite }}</p>
    <p>idPersonne : {{ personneType.idPersonne }}</p>
{% endblock %}