{% extends 'base.html.twig' %}

{% block title %}Hello PersonneController!{% endblock %}

{% block body %}
    <h1>Lise des problems</h1>
    <table>
        <thead>
        <th>materiel</th>
        <th>NombrePanne</th>
        </thead>
        {% for compte in 0..comptes %}
            <tbody>
            <td>{{ nomMateriel[compte] }}</td>
            <td>{{ nombrepanne[compte] }}</td>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}