{% extends 'base.html.twig' %}

{% block title %}Hello typePersonneController!{% endblock %}

{% block body %}
    <h1>Page typePersonne</h1>
    <p>NomType: {{ typePersonne.nomType }}</p>>
{% endblock %}